.ipynb_checkpoints/
.idea/
.git/
__pycache__/
datasets/
checkpoints/
logs/
runs/

# Ignore directories containing 'trail' or 'trials' in their name
*trail*/
trail*/
*trials*/
trials*/

# Ignore specific directories
trials-acc/
trials-not-norm/
